*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Inter', sans-serif;
    color: #212121;   
}
.container{
    width: 86%;
    margin: 0 auto;
    max-width: 1200px;
}
h1{
    font-size: 2.4rem;
}
.row{
    display: flex;
}
ul{
    padding: 0;
}
li{
    display: inline-block;
}
.call_to_action{ 
    background-color: #3AA667;
    color: #fff;  
    width: 100%;  
}
.call_to_action:hover, .call_to_action:visited{
    background-color: #276c44;
}
.active{
    color: #00A966;
}
.inactive{
    color: #4d4c4c;
}
header{
    padding: 0.8rem 0;
    background-color: #6FCF97;
}
.nav_text{
    font-family: 'Itim', cursive;
}
header .row, footer .row{
    justify-content: space-between;
}
header .col{
    align-self: center;
}
.nav_cat, .nav_cat:hover, .nav_cat:active, .call_to_action, .call_to_action:hover, .call_to_action:visited, .facebook, .google{
    padding: 0.3rem 0.9rem;
    border-radius: 0.5rem;
}
.nav_cat, .nav_cat:hover, .nav_cat:active, .call_to_action, .call_to_action:hover, .call_to_action:visited{
    border: 1px solid #00A966;
}
.nav_cat{
    font-size: 1rem;
    color: #6FCF97;
    background-color: #fff;
}
.nav_cat:hover, .nav_cat:active{
    background-color: #3AA667;
    color: #fff;
}
section .row{
    justify-content: center;
}
section .col{
    width: 50%;
}
section .img{
    width: 100%;     
}
section .col_right{
    padding: 1.3rem 0;
    background-color: #f7f9f9;
}
section .account{
    width: 50%;
    margin: 0 auto;
}
section form .row{
    flex-direction: column;
}
section form .col{
    width: 100%;
}
section form .facebook{
    background-color: #466bb7;
}
section form .google{
    background-color: #e93648;
}
section form .google, section form .facebook, section .acc_detail input, .or{
    margin-bottom: 0.7rem;
}
section form img, footer img{
    max-width: 1.25rem;
    max-height: 1.0625rem;
    margin: auto 0.2rem;
}
section .acc_detail label{
    padding: 0 0 0.4rem 0.4rem;
}
section .acc_detail input{
    border: 2px solid #009381;
    border-radius: 0.3rem;
    padding: 0.5rem 0.3rem;
    width: 100%;
}
section .acc_detail .col{
    align-self: center;
}
section .agree{
    margin: 0.3rem 0 1rem 0.4rem;
}
section .agree a{
    color: #00A966;
    text-decoration: underline;
}
section, footer{   
    padding: 2rem 0;
}
footer{
    background-color: #494949; 
}
footer a{    
    color: #04e98e;
    margin-right: 0.5rem;
}
footer a:hover, footer a:visited{
    color: #2cffab;
}
.nav_text,header a, section form .col, footer h4, .call_to_action a{
    color: #fff;
}

@media(max-width: 1200px){
    header{
        padding: 1rem;
    }
    section .col_left, section .col_right{
        width: 90%;
        margin: 0 auto;
    }
    section .account{
        width: 70%;
        margin: 0 auto;
    }  
    section .acc_detail .col{
        justify-content: space-around;
    }      
    section .img{
        width: 100%;
        max-width: 48rem;
        margin: 0 auto;
    }
    section .agree{
        margin: 0.3rem 0 1rem 0.6rem;
    }
    section form{
        width: 70%;
        margin: 0 auto;
    }
}

@media(max-width: 970px){  
    section .col_left{
        display: none;
    } 
    section .agree{
        margin: 0.3rem 0 1rem 0.6rem;
    }
    section form{
        width: 80%;
        margin: 0 auto;
    }
    section .call_to_action{
        margin: 0 auto;
    }
}